<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>framework</key>
		<string>ZappCore</string>
		<key>version_id</key>
		<string>0.6.1</string>
	</dict>
	<dict>
		<key>framework</key>
		<string>ZappCrashlogsMsAppCenter</string>
		<key>version_id</key>
		<string>4.2.1</string>
		<key>plugin</key>
		<true/>
	</dict>
	<dict>
		<key>framework</key>
		<string>ZappApple</string>
		<key>version_id</key>
		<string>0.1.1</string>
	</dict>
	<dict>
		<key>framework</key>
		<string>ZappGoogleAnalytics</string>
		<key>version_id</key>
		<string>0.5.1</string>
		<key>plugin</key>
		<true/>
	</dict>
	<dict>
		<key>framework</key>
		<string>ZappGoogleInteractiveMediaAds</string>
		<key>version_id</key>
		<string>0.5.1</string>
		<key>plugin</key>
		<true/>
		<key>npm_package</key>
		<true/>
	</dict>
</array>
</plist>
