<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>framework</key>
		<string>ZappCore</string>
		<key>version_id</key>
		<string>0.6.0</string>
		<key>folder_path</key>
		<string>Frameworks/ZappCore</string>
		<key>is_plugin</key>
		<false/>
	</dict>
	<dict>
		<key>framework</key>
		<string>ZappCrashlogsMsAppCenter</string>
		<key>version_id</key>
		<string>4.2.0</string>
		<key>folder_path</key>
		<string>Frameworks/Plugins/Crashlogs/ZappCrashlogsMsAppCenter</string>
		<key>is_plugin</key>
		<true/>
	</dict>
	<dict>
		<key>framework</key>
		<string>ZappApple</string>
		<key>version_id</key>
		<string>0.1.0</string>
		<key>folder_path</key>
		<string>Frameworks/ZappApple</string>
		<key>is_plugin</key>
		<false/>
	</dict>
	<dict>
		<key>framework</key>
		<string>ZappGoogleAnalytics</string>
		<key>version_id</key>
		<string>0.5.0</string>
		<key>folder_path</key>
		<string>Frameworks/Plugins/Analytics/GoogleAnalytics</string>
		<key>is_plugin</key>
		<true/>
	</dict>
	<dict>
		<key>framework</key>
		<string>ZappGoogleInteractiveMediaAds</string>
		<key>version_id</key>
		<string>0.4.0</string>
		<key>folder_path</key>
		<string>Frameworks/Plugins/PlayerDependant/ZappGoogleInteractiveMediaAds</string>
		<key>is_plugin</key>
		<true/>
		<key>npm_package</key>
		<true/>
	</dict>
</array>
</plist>
